# Miscellaneous
*.class
*.lock
*.log
.DS_Store
.vscode/
.idea

# Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/

# Rust related
target/
*.xcframework/
isar-dart.h

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/ephemeral
**/.plugin_symlinks/

# Coverage
coverage/
